:host {
  display: block;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}


HsHeader:H1{
  width: 1189px;
  height: 70px;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: red;
  order: 1;
}
